**/__pycache__/*
**/.ipynb_checkpoints/*
*/.pyc
**/Dataset/*
**/SavedModels/*
**/OtherModelTests/*
**/old/*
**/benchmark/log/*
**/__pycache__/*
**/.vscode/*
**/.ipynb_checkpoints/*
**/models/*
**/venv/*
**/.venv/*
**/plots/*
benchmarkSimilarEquations.json
**/benchmark/*